@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rad Hat Display", sans-serif;
    background-color: var(--pale-blue);
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.para1 {
    padding: 10px;

}

p {

    font-size: 16px;
    line-height: 1.6;
    color: var(--desaturated-blue);
}

h1 {
    margin: 10px 0;
    color: hsl(223, 47%, 23%);
}

.bg-img {
    background: url('./images/pattern-background-mobile.svg') no-repeat center/cover;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

img {
    max-width: 100%;
}

.container {
    background-color: #fff;
    margin: 20px;
    margin-inline: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
    /* padding-bottom: 20px; */

}

.container2 {
    margin: 20px;
}

.hero {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.wrapper {
    margin: 30px auto;
    background-color: var(--very-pale-blue);
    width: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.article-wrapper img {
    margin-right: 10px;
    background-color: var(--pale-blue);
    border-radius: 50%;
}

.btn {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-pay {
    background-color: var(--bright-blue);
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: -5px 5px 3px var(--pale-blue);

    &:hover {
        opacity: 0.8;
    }
}

.btn-cancel {
    background-color: transparent;
    color: var(--desaturated-blue);
    margin-top: 10px;

    &:hover {
        color: hsl(223, 47%, 23%);
    }
}

.btn-change {
    background-color: transparent;
    color: var(--bright-blue);
    text-decoration: underline;

    &:hover {
        opacity: 0.8;
    }
}

.buttons {
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    margin: 25px;
    /* align-items: center; */

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width:768px) {
    .bg-img {
        background: url('./images/pattern-background-mobile.svg') no-repeat center/cover;
        height: 50vh;
    }
}